<div class="ant-modal-content">
<button type="button" aria-label="Close" class="ant-modal-close" data-editor-cancel="">
<span class="ant-modal-close-x" aria-label="关闭">
<span role="img" aria-label="close" class="anticon anticon-close ant-modal-close-icon">
<!-- @gaip-icon:start shared/assets/icons/third-party/ant-design/close-outlined.svg binding-13 --><svg fill="currentColor" fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close" width="1em" height="1em" aria-hidden="true"><path d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"/></svg><!-- @gaip-icon:end -->
</span>
</span>
</button>
<div class="ant-modal-header">
<div class="ant-modal-title" id=":r9m:">编辑成员</div>
</div>
<div class="ant-modal-body">
<form class="ant-form ant-form-vertical css-var-r0 ant-form-css-var css-10wz6x1">
<div class="formRow___xgoev">
<div class="ant-form-item formCol___xNg90 css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="domainAccount" class="" title="域账号">域账号</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<input id="domainAccount" disabled="" class="ant-input ant-input-disabled css-10wz6x1 ant-input-outlined css-var-r0 ant-input-css-var" type="text" value="">
</div>
</div>
</div>
</div>
</div>
<div class="ant-form-item formCol___xNg90 css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="userName" class="" title="姓名">姓名</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<input id="userName" disabled="" class="ant-input ant-input-disabled css-10wz6x1 ant-input-outlined css-var-r0 ant-input-css-var" type="text">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ant-form-item adminCheckbox___XXdfO css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<label class="ant-checkbox-wrapper ant-checkbox-wrapper-checked ant-checkbox-wrapper-in-form-item css-var-r0 ant-checkbox-css-var css-10wz6x1">
<span class="ant-checkbox ant-wave-target css-10wz6x1 ant-checkbox-checked">
<input id="isAdmin" class="ant-checkbox-input" type="checkbox" checked="">
<span class="ant-checkbox-inner">
</span>
</span>
<span class="ant-checkbox-label">管理员</span>
</label>
</div>
</div>
</div>
</div>
</div>
<div class="formRow___xgoev">
<div class="ant-form-item formCol___xNg90 css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="mobilePhone" class="" title="手机号">手机号</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<span class="ant-input-affix-wrapper css-10wz6x1 ant-input-outlined css-var-r0 ant-input-css-var">
<input placeholder="请输入" id="mobilePhone" class="ant-input css-10wz6x1" type="text">
<span class="ant-input-suffix">
<button type="button" tabindex="-1" class="ant-input-clear-icon">
<span role="img" aria-label="close-circle" class="anticon anticon-close-circle">
<!-- @gaip-icon:start shared/assets/icons/third-party/ant-design/close-outlined.svg binding-14 --><svg fill="currentColor" fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close-circle" width="1em" height="1em" aria-hidden="true"><path d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"/></svg><!-- @gaip-icon:end -->
</span>
</button>
</span>
</span>
</div>
</div>
</div>
</div>
</div>
<div class="ant-form-item formCol___xNg90 css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="userEmail" class="" title="邮箱">邮箱</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<span class="ant-input-affix-wrapper css-10wz6x1 ant-input-outlined css-var-r0 ant-input-css-var">
<input placeholder="请输入" id="userEmail" class="ant-input css-10wz6x1" type="text">
<span class="ant-input-suffix">
<button type="button" tabindex="-1" class="ant-input-clear-icon">
<span role="img" aria-label="close-circle" class="anticon anticon-close-circle">
<!-- @gaip-icon:start shared/assets/icons/third-party/ant-design/close-outlined.svg binding-15 --><svg fill="currentColor" fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close-circle" width="1em" height="1em" aria-hidden="true"><path d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"/></svg><!-- @gaip-icon:end -->
</span>
</button>
</span>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ant-form-item css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="licenseTypeCode" class="ant-form-item-required" title="持牌">持牌</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<div aria-required="true" class="ant-radio-group ant-radio-group-outline typeGroup___cnCo5 css-10wz6x1 css-var-r0 ant-radio-css-var" id="licenseTypeCode">
<label class="ant-radio-wrapper ant-radio-wrapper-checked ant-radio-wrapper-in-form-item css-10wz6x1 css-var-r0 ant-radio-css-var">
<span class="ant-radio ant-wave-target ant-radio-checked">
<input name="licenseTypeCode" class="ant-radio-input" type="radio" value="" checked="">
<span class="ant-radio-inner">
</span>
</span>
<span class="ant-radio-label">持牌</span>
</label>
<label class="ant-radio-wrapper ant-radio-wrapper-in-form-item css-10wz6x1 css-var-r0 ant-radio-css-var">
<span class="ant-radio ant-wave-target">
<input name="licenseTypeCode" class="ant-radio-input" type="radio" value="">
<span class="ant-radio-inner">
</span>
</span>
<span class="ant-radio-label">不持牌</span>
</label>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ant-form-item css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="licenseType" class="ant-form-item-required" title="持牌地区">持牌地区</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<div class="ant-checkbox-group typeGroup___cnCo5 css-var-r0 ant-checkbox-css-var css-10wz6x1" id="licenseType" aria-required="true">
<label class="ant-checkbox-wrapper ant-checkbox-wrapper-checked ant-checkbox-wrapper-in-form-item css-var-r0 ant-checkbox-css-var css-10wz6x1">
<span class="ant-checkbox ant-wave-target css-10wz6x1 ant-checkbox-checked">
<input class="ant-checkbox-input" type="checkbox" value="" checked="">
<span class="ant-checkbox-inner">
</span>
</span>
<span class="ant-checkbox-label">香港</span>
</label>
<label class="ant-checkbox-wrapper ant-checkbox-wrapper-checked ant-checkbox-wrapper-in-form-item css-var-r0 ant-checkbox-css-var css-10wz6x1">
<span class="ant-checkbox ant-wave-target css-10wz6x1 ant-checkbox-checked">
<input class="ant-checkbox-input" type="checkbox" value="" checked="">
<span class="ant-checkbox-inner">
</span>
</span>
<span class="ant-checkbox-label">新加坡</span>
</label>
<label class="ant-checkbox-wrapper ant-checkbox-wrapper-checked ant-checkbox-wrapper-in-form-item css-var-r0 ant-checkbox-css-var css-10wz6x1">
<span class="ant-checkbox ant-wave-target css-10wz6x1 ant-checkbox-checked">
<input class="ant-checkbox-input" type="checkbox" value="" checked="">
<span class="ant-checkbox-inner">
</span>
</span>
<span class="ant-checkbox-label">美国</span>
</label>
<label class="ant-checkbox-wrapper ant-checkbox-wrapper-checked ant-checkbox-wrapper-in-form-item css-var-r0 ant-checkbox-css-var css-10wz6x1">
<span class="ant-checkbox ant-wave-target css-10wz6x1 ant-checkbox-checked">
<input class="ant-checkbox-input" type="checkbox" value="" checked="">
<span class="ant-checkbox-inner">
</span>
</span>
<span class="ant-checkbox-label">百慕大</span>
</label>
<label class="ant-checkbox-wrapper ant-checkbox-wrapper-in-form-item css-var-r0 ant-checkbox-css-var css-10wz6x1">
<span class="ant-checkbox ant-wave-target css-10wz6x1">
<input class="ant-checkbox-input" type="checkbox" value="">
<span class="ant-checkbox-inner">
</span>
</span>
<span class="ant-checkbox-label">大陆</span>
</label>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ant-form-item css-var-r0 ant-form-css-var css-10wz6x1 ant-form-item-vertical">
<div class="ant-row ant-form-item-row css-10wz6x1 css-var-r0">
<div class="ant-col ant-form-item-label css-10wz6x1 css-var-r0">
<label for="referrerType" class="" title="转介绍人">转介绍人</label>
</div>
<div class="ant-col ant-form-item-control css-10wz6x1 css-var-r0">
<div class="ant-form-item-control-input">
<div class="ant-form-item-control-input-content">
<div class="ant-radio-group ant-radio-group-outline typeGroup___cnCo5 css-10wz6x1 css-var-r0 ant-radio-css-var" id="referrerType">
<label class="ant-radio-wrapper ant-radio-wrapper-in-form-item css-10wz6x1 css-var-r0 ant-radio-css-var">
<span class="ant-radio ant-wave-target">
<input name="referrerType" class="ant-radio-input" type="radio" value="">
<span class="ant-radio-inner">
</span>
</span>
<span class="ant-radio-label">无</span>
</label>
<label class="ant-radio-wrapper ant-radio-wrapper-checked ant-radio-wrapper-in-form-item css-10wz6x1 css-var-r0 ant-radio-css-var">
<span class="ant-radio ant-wave-target ant-radio-checked">
<input name="referrerType" class="ant-radio-input" type="radio" value="" checked="">
<span class="ant-radio-inner">
</span>
</span>
<span class="ant-radio-label">内部转介绍人</span>
</label>
<label class="ant-radio-wrapper ant-radio-wrapper-in-form-item css-10wz6x1 css-var-r0 ant-radio-css-var">
<span class="ant-radio ant-wave-target">
<input name="referrerType" class="ant-radio-input" type="radio" value="">
<span class="ant-radio-inner">
</span>
</span>
<span class="ant-radio-label">外部转介绍人</span>
</label>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
<div class="footer___UhMLM">
<button type="button" class="ant-btn css-10wz6x1 css-var-r0 ant-btn-default ant-btn-color-default ant-btn-variant-outlined cancelBtn___H8rvL" data-editor-cancel="">
<span>取 消</span>
</button>
<button type="button" class="ant-btn css-10wz6x1 css-var-r0 ant-btn-primary ant-btn-color-primary ant-btn-variant-solid confirmBtn___LDHYN" data-editor-save="">
<span>确认修改</span>
</button>
</div>
</div>
</div>
