<div role="menuitem" class="ant-menu-submenu-title gaip-config-toggle gaip-source-c1c79047d536" tabindex="0" aria-expanded="true" aria-haspopup="true" aria-controls="gaip-config-submenu">
<span class="ant-menu-title-content">
<div class="ant-pro-base-menu-inline-item-title css-xfkefy">
<span class="ant-pro-base-menu-inline-item-icon css-xfkefy">
<span class="gaip-config-original-icon">
</span>
</span>
<span class="ant-pro-base-menu-inline-item-text css-xfkefy ant-pro-base-menu-inline-item-text-has-icon">配置中心</span>
</div>
</span>
<i class="ant-menu-submenu-arrow">
</i>
</div>
<ul class="ant-menu ant-menu-sub ant-menu-inline" role="menu" id="gaip-config-submenu" data-menu-list="true">
</ul>
