<li role="menuitem" tabindex="-1" class="ant-menu-item ant-menu-item-selected ant-menu-item-only-child ant-pro-base-menu-inline-menu-item gaip-source-1dbbd460392d">
<span class="ant-menu-title-content">
<a class="menuItem___o0h9x">
<span class="badgeBox___hOur3">
<div class="ant-pro-base-menu-inline-item-title css-xfkefy">
<span class="ant-pro-base-menu-inline-item-icon css-xfkefy gaip-source-c6fb389a7a48">
<span class="anticon">
</span>
</span>
<span class="ant-pro-base-menu-inline-item-text css-xfkefy">组织架构</span>
</div>
</span>
</a>
</span>
</li>
