<div class="css-var-r0 ant-table-css-var ant-table-wrapper table___BX44I css-10wz6x1">
<div class="ant-spin-nested-loading css-10wz6x1 css-var-r0">
<div class="ant-spin-container">
<div class="ant-table css-var-r0 ant-table-css-var css-10wz6x1 ant-table-ping-left ant-table-fixed-column ant-table-scroll-horizontal ant-table-has-fix-right">
<div class="ant-table-container">
<div class="ant-table-content gaip-source-5cdf19cca9d2" role="region" aria-label="成员表格，可横向滚动" tabindex="0">
<table class="gaip-source-fd8238d7da36">
<colgroup>
<col class="gaip-source-25dce12472a0">
<col class="gaip-source-a47cfae858c7">
<col class="gaip-source-0973c3eb2e77">
<col class="gaip-source-dd2cce0cf57f">
<col class="gaip-source-6d499377e7cf">
<col class="gaip-source-126ba8b11e47">
<col class="gaip-source-0973c3eb2e77">
<col class="gaip-source-dd2cce0cf57f">
</colgroup>
<thead class="ant-table-thead">
<tr>
<th class="ant-table-cell" scope="col">姓名</th>
<th class="ant-table-cell" scope="col">身份</th>
<th class="ant-table-cell" scope="col">域账号</th>
<th class="ant-table-cell" scope="col">手机号</th>
<th class="ant-table-cell ant-table-cell-ellipsis" title="邮箱" scope="col">邮箱</th>
<th class="ant-table-cell" scope="col">持牌身份</th>
<th class="ant-table-cell" scope="col">转介绍人</th>
<th class="ant-table-cell ant-table-cell-fix-right ant-table-cell-fix-right-first gaip-source-ca10173388d7" scope="col">操作</th>
</tr>
</thead>
<tbody class="ant-table-tbody">
</tbody>
</table>
</div>
</div>
</div>
<ul class="ant-pagination ant-pagination-end ant-table-pagination css-10wz6x1 css-var-r0">
<li class="ant-pagination-total-text" data-config-summary="">共 8 条，第 1 / 1 页</li>
<li title="上一页" class="ant-pagination-prev ant-pagination-disabled" aria-disabled="true">
<button class="ant-pagination-item-link" type="button" tabindex="-1" disabled="" data-config-prev="" aria-label="成员上一页">
<span role="img" aria-label="left" class="anticon anticon-left">
<!-- @gaip-icon:start shared/assets/icons/business/config-center/table--inline-1.svg --><svg viewBox="64 64 896 896" focusable="false" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true">
<path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 000 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z">
</path>
</svg><!-- @gaip-icon:end -->
</span>
</button>
</li>
<li title="1" class="ant-pagination-item ant-pagination-item-1 ant-pagination-item-active" tabindex="0">
<a rel="nofollow" data-config-current="">1</a>
</li>
<li title="下一页" class="ant-pagination-next ant-pagination-disabled" aria-disabled="true">
<button class="ant-pagination-item-link" type="button" tabindex="-1" disabled="" data-config-next="" aria-label="成员下一页">
<span role="img" aria-label="right" class="anticon anticon-right">
<!-- @gaip-icon:start shared/assets/icons/business/config-center/table--inline-2.svg --><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
<path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z">
</path>
</svg><!-- @gaip-icon:end -->
</span>
</button>
</li>
</ul>
</div>
</div>
</div>
