<div class="sidebar___zkFeC" data-config-tree="">
<div class="ant-spin-nested-loading css-10wz6x1 css-var-r0">
<div class="ant-spin-container">
<div class="ant-tree ant-tree-icon-hide ant-tree-block-node tree___Joz_Q css-10wz6x1 css-var-r0">
<div>
<input tabindex="0" aria-label="for screen reader" value="" class="gaip-source-6715ee3c93d5">
</div>
<div class="ant-tree-treenode gaip-source-d65ccbaa1073" aria-hidden="true">
<div class="ant-tree-indent">
<div class="ant-tree-indent-unit">
</div>
</div>
</div>
<div class="ant-tree-list gaip-source-9aed883a1a0b" role="tree">
<div class="ant-tree-list-holder">
<div>
<div class="ant-tree-list-holder-inner gaip-source-0261137fd851">
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-selected ant-tree-treenode-leaf-last" draggable="false" data-department="all" tabindex="0" data-depth="0">
<span aria-hidden="true" class="ant-tree-indent">
</span>
<span class="ant-tree-switcher ant-tree-switcher_open" data-collapse="all">
<span role="img" aria-label="caret-down" class="anticon anticon-caret-down ant-tree-switcher-icon">
<!-- @gaip-icon:start shared/assets/icons/forms/shared/modal-down.svg binding-32 --><svg viewBox="7 7 18 18" focusable="false" data-icon="caret-down" width="1em" height="1em" aria-hidden="true"><polygon fill="#2F3640" points="22,11 24,13 16,21 8,13 10,11 16,17"/></svg><!-- @gaip-icon:end -->
</span>
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open ant-tree-node-selected">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="薄荷经纪人">薄荷经纪人</span>
<span class="treeNodeExpandWrap___vbCMf treeNodeExpandWrapVisible___eLe9e">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open" draggable="false" data-department="department-1" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher_open" data-collapse="department-1">
<span role="img" aria-label="caret-down" class="anticon anticon-caret-down ant-tree-switcher-icon">
<!-- @gaip-icon:start shared/assets/icons/forms/shared/modal-down.svg binding-33 --><svg viewBox="7 7 18 18" focusable="false" data-icon="caret-down" width="1em" height="1em" aria-hidden="true"><polygon fill="#2F3640" points="22,11 24,13 16,21 8,13 10,11 16,17"/></svg><!-- @gaip-icon:end -->
</span>
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="测试部门">测试部门</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open" draggable="false" data-department="department-2" tabindex="0" data-depth="2">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher_open" data-collapse="department-2">
<span role="img" aria-label="caret-down" class="anticon anticon-caret-down ant-tree-switcher-icon">
<!-- @gaip-icon:start shared/assets/icons/forms/shared/modal-down.svg binding-34 --><svg viewBox="7 7 18 18" focusable="false" data-icon="caret-down" width="1em" height="1em" aria-hidden="true"><polygon fill="#2F3640" points="22,11 24,13 16,21 8,13 10,11 16,17"/></svg><!-- @gaip-icon:end -->
</span>
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="测试1部">测试1部</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf-last ant-tree-treenode-leaf" draggable="false" data-department="department-3" tabindex="0" data-depth="3">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="测试-测试1">测试-测试1</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf-last ant-tree-treenode-leaf" draggable="false" data-department="department-4" tabindex="0" data-depth="2">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="测试2部">测试2部</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open" draggable="false" data-department="department-5" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher_open" data-collapse="department-5">
<span role="img" aria-label="caret-down" class="anticon anticon-caret-down ant-tree-switcher-icon">
<!-- @gaip-icon:start shared/assets/icons/forms/shared/modal-down.svg binding-35 --><svg viewBox="7 7 18 18" focusable="false" data-icon="caret-down" width="1em" height="1em" aria-hidden="true"><polygon fill="#2F3640" points="22,11 24,13 16,21 8,13 10,11 16,17"/></svg><!-- @gaip-icon:end -->
</span>
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="研发部">研发部</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open" draggable="false" data-department="department-6" tabindex="0" data-depth="2">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher_open" data-collapse="department-6">
<span role="img" aria-label="caret-down" class="anticon anticon-caret-down ant-tree-switcher-icon">
<!-- @gaip-icon:start shared/assets/icons/forms/shared/modal-down.svg binding-36 --><svg viewBox="7 7 18 18" focusable="false" data-icon="caret-down" width="1em" height="1em" aria-hidden="true"><polygon fill="#2F3640" points="22,11 24,13 16,21 8,13 10,11 16,17"/></svg><!-- @gaip-icon:end -->
</span>
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="aabbccddee Jin Ark eeddeedddd Limited（龙马精神同舟有限公司）">aabbccddee Jin Ark eeddeedddd Limited（龙马精神同舟有限公司）</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf-last" draggable="false" data-department="department-7" tabindex="0" data-depth="3">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher_open" data-collapse="department-7">
<span role="img" aria-label="caret-down" class="anticon anticon-caret-down ant-tree-switcher-icon">
<!-- @gaip-icon:start shared/assets/icons/forms/shared/modal-down.svg binding-37 --><svg viewBox="7 7 18 18" focusable="false" data-icon="caret-down" width="1em" height="1em" aria-hidden="true"><polygon fill="#2F3640" points="22,11 24,13 16,21 8,13 10,11 16,17"/></svg><!-- @gaip-icon:end -->
</span>
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="334567890-0987656789">334567890-0987656789</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-8" tabindex="0" data-depth="4">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="33456789876567876789">33456789876567876789</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf-last ant-tree-treenode-leaf" draggable="false" data-department="department-9" tabindex="0" data-depth="4">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start">
</span>
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="aabbccddee Jin Ark eeddeedddd Limited（龙马精神同舟有限公司）aabbccddee Jin Ark eeddeedddd Limited（龙马精神同舟有限公司）">aabbccddee Jin Ark eeddeedddd Limited（龙马精神同舟有限公司）aabbccddee Jin Ark eeddeedddd Limited（龙马精神同舟有限公司）</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf-last ant-tree-treenode-leaf" draggable="false" data-department="department-10" tabindex="0" data-depth="2">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
<span class="ant-tree-indent-unit">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="b">b</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-11" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="分页61213121">分页61213121</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-12" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="分页8">分页8</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-13" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="分页9">分页9</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-14" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="家族1">家族1</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-15" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="家族2">家族2</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-16" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="家族3">家族3</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf" draggable="false" data-department="department-17" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="家族4">家族4</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
<div role="treeitem" aria-expanded="true" class="ant-tree-treenode ant-tree-treenode-switcher-open ant-tree-treenode-leaf-last ant-tree-treenode-leaf" draggable="false" data-department="department-18" tabindex="0" data-depth="1">
<span aria-hidden="true" class="ant-tree-indent">
<span class="ant-tree-indent-unit ant-tree-indent-unit-start ant-tree-indent-unit-end">
</span>
</span>
<span class="ant-tree-switcher ant-tree-switcher-noop">
</span>
<span title="" class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-normal">
<span class="ant-tree-title">
<span class="treeNodeTitle___VkUOT ">
<span class="treeNodeIcon___sK4gi">
<img src="shared/assets/icons/forms/config-center/folder.png" alt="folder" class="folderIcon___yjhFX">
</span>
<span class="treeNodeName___mtuTp" title="测试256">测试256</span>
<span class="treeNodeExpandWrap___vbCMf ">
<span class="ant-dropdown-trigger treeNodeExpand___UwfRZ">⋮</span>
</span>
</span>
</span>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
